.chat-article{
    background-color:rgb(150,225,150,0.5);
    margin:auto;
    padding:0;

    display:flex;
    align-content:center;
    justify-content:center;
    flex-direction: column;

    padding:0;
    width:70%;
    height:100%;
}

div.chat-header{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}


div#chat-content{
    display:flex;
    flex-direction: column;
    align-content:center;

}

div#chat-display{
    background-color:#fff;
    margin:5px auto 50px auto;
    width:80%;
    height:500px;
    overflow-y:scroll;
    font-size:20px;
}

.bubbleWrapper {
	padding: 10px 10px;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	align-self: flex-end;
    color: #fff;
}

.inlineContainer {
  display: inline-flex;
}

.inlineContainer.own {
  flex-direction: row-reverse;
}
.inlineIcon {
  width:20px;
  object-fit: contain;
}
.ownBubble {
	min-width: 60px;
	max-width: 700px;
	padding: 14px 18px;
    margin: 6px 8px;
	background-color: #5b5377;
	border-radius: 16px 16px 0 16px;
	border: 1px solid #443f56;
}
.otherBubble {
	min-width: 60px;
	max-width: 700px;
	padding: 14px 18px;
    margin: 6px 8px;
	background-color: #6C8EA4;
	border-radius: 16px 16px 16px 0;
	border: 1px solid #54788e;
  
}
span.own {
	align-self: flex-end;
}
span.other {
	align-self: flex-start;
}
span.own,
span.other{
  font-size: 14px;
  color: grey;
}



.chat-memList{
  position:absolute;
  width:200px;
  height:500px;
  overflow-y:scroll;
  overflow-x:hidden;
}