body{
    background-image:url("../images/natual_scene01.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-color:#fff;
    background-position:60% 50%;

    margin:0;
    padding:0;
}

#wrapper{
    min-width:100%;
    min-height:100%;

    padding:0;
    margin:0 auto;
}

#header-list{
    width:100%;
    display:flex;
    justify-content: space-between;
    background-color: #12551d;
    padding:0;
}

.header-selection{
    width:60%;
}

.selection-list ul{
    list-style:none;
    display:flex;
    justify-content:space-around;
}

.selection-list ul li{
    text-align:center;
    color:#fff;
    font-size:20px;
    font-weight:bold;

    transform:0.5s;
}

.selection-list ul li:hover{
    
}

.user-selection{
    font-size:16px;
}


main{
    min-height:1000px;
    display:flex;
    justify-content:center;
}

main .main-visual{
    height:550px;
    background-color:#000;
    margin-bottom:75px;
}

main .main-visual img{
    display:block;
    width:80%;
    height:100%;
    margin:auto;
}

main .work-read{
    height:300px;
    background-color:rgba(125,255,125,0.5);
    margin-bottom:75px;
}

main .work-display{
    height:300px;
     background-color:rgba(100,255,100,0.5);
    margin-bottom:75px;
}

footer{
    color:#fff;
    width:100%;
    min-height:200px;
    display:flex;
    justify-content:center;
    align-items:flex-end;
    position:abosulte;
    bottom:0;
    background-color: #12551d;
}

footer .footer-block{
    
}


/*new member added page*/

.form-block{
    background-color:rgba(100,220,50,0.5);
    width:450px;
    color:#fff;
    display:flex;
    justify-content:center;
    flex-direction:column;
    padding:50px;
    margin:100px auto;
}

.form-block h2{
    font-size:24px;
    text-align:center;
}

.form-block table{
    table-layout:auto;
}


#main-form table{
    border-collapse:separate;
    border-spacing:5px 10px;
}

/*watch page*/

div.watch-article{
    margin:0 auto;
    display:flex;
    flex-direction: wrap;
    justify-content:space-between;
}

div.work-list{
    display:flex;
    flex-direction:row;
}

div.work-item{
    display:inline-block;
    border:1px solid #fff;
    width:225px;
    height:225px;
}

div.work-item img{
    width:100%;
    height:100%;
}

div.watch-article img{

}



/*refer page*/

.read-article{
    margin:auto;
    background-color:rgb(150,225,150);
    width:70%;
    height:600px;
    display:flex;
    flex-direction:row;
    justify-content:space-around;

}

.read-article div{
    margin-top:20px;
}

.read-article div.work-readLeft{ 
    background-color: #fff;
    width:60%;
    height:90%
}

.read-article div.work-readRight{
    background-color:#faf;
    width:30%;
    height:90%;
}

div.work-readRight ul.work-infoList{
    list-style-type:none;
}

/*rogin page*/




/*chatroomPage*/
.chat-article{
    background-color:rgb(150,225,150,0.5);
    margin:auto;
    padding:0;

    display:flex;
    align-content:center;
    justify-content:center;
    flex-direction: column;

    width:70%;
    height:100%;
}

div.chat-header{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

div.chat-content{
    display:flex;
    flex-direction: column;
    align-content:center;

}

div.chat-display{
    background-color:#fff;
    margin:5px auto 50px auto;
    width:80%;
    height:500px;
    overflow:scroll;
    font-size:20px;
}

div.chat-display .other-userChat{
    background-color:#8F9;
    border-radius:5px;
    width:90%;
    margin:15px auto;

}

div.chat-display .self-userChat{
    background-color:#5F5;
    border-radius:5px;
    width:90%;
    margin:15px auto;
}

div.chat-display .user-chatDisplay{

}


form#main-form{
    position:relative;
    margin:auto;
    padding:0;
}

form#main-form .chat-submitButton{
    position:absolute;
    left:50%;
    top:100%;
}

form#main-form .chat-submitButton 
input[type='submit']{
    width:80px;
    height:30px;
    border-width:0;

    transition:0.5s;
}

form#main-form .chat-submitButton 
input[type='submit']:hover{
    background-color:#aaa;
}

/*chatroomCreatorPage*/

div.form-inputBlock{
     margin-bottom:10px;   
    
}


