<!doctype html>
<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta name="robots" content="none,noindex,nofollow">
        <link rel="stylesheet" href="css/style.css" />
        <script type="text/javascript" src="lib/jquery-1.10.1.min.js"></script>
         <script src="lib/Three/three.js"></script>
         <script src="lib/slick/slick.js"></script>
        <script src="lib/ChatData.js"></script>
       
        <title>CGSharingCite(HOME)</title>
    </head>
    <body id="wrapper">
        <header id="header-list">
            <div class="logo"><a href="index.ejs"><img id="home_logo" src="images/sample_logo001.png" title="メインロゴ" alt="LOGO" /></a></div>
            <div class="header-selection">
                <nav class="selection-list">
                    <ul id="navSelection">
                        <li name="select-search" onclick="changePage('watchPage.ejs')">捜索</li>
                        <li name="select-upload" onclick="changePage('workUploadPage.ejs');" style="display:none;">作品投稿</li>
                    </ul>
                </nav>
            </div>
            <div class="user-selection">
                <button class="guest-button" onclick="javascript:window.location.href='rogin.ejs'">ログイン</button>
                <button class="guest-button" onclick="javascript:window.location.href='newMemAdded.ejs'">新規会員登録</button>
                <button class="member-button" onclick="rogout()" style="display:none;">ログアウト</button>
                 <div id="user-icon">
                    <img src="" alt="UserIcon" id="user-image" />
                    <span id="user-name">ED0401</span>
                </div>
                <button class="member-button" onclick="" style="display:none;">ログアウト</button>
            </div>
        </header>
        <main>
            <div id="breadCrumbNav">
                <ul id="breadNavList">
                    <li onclick="changePage('index.ejs')">ホーム</li><span>&raquo</span>
                    <li>チャットルーム作成</li>
                </ul>
            </div>

          <div class="form-block">
              <div style="margin:auto;"><h3>チャットルーム作成</h3></div>
            <form id="main-form" name="chatroom-creatorForm"  onsubmit="">
                <div class="form-inputBlock">
                    <label for="chatroomName"><p>チャットルームネーム</p></label>
                    <p><input name="chatroomName" type="text" /> </p>
                </div>

                 <div class="form-inputBlock">
                    <label for="chatroomPeopleCount"><p>人数設定</p></label>
                    <p><input name="chatroomPeopleCount" type="text" /> </p>
                </div>

                 <div class="form-inputBlock">
                    <label for="chatroomInvitation"><p>ユーザを招待する</p></label>
                    <p><select name="chatroomInvitation" onchange="alert('changed');">
                       <option value="フレンドリストから選択">フレンドリストから選択</option>
                       <option value="ユーザーネームのサーチ">ユーザーネームのサーチ</option> 
                    </select></p>
                    
                    <div style="display:none;"></div>
                    <div style="display:none;"></div>
                </div>

                <div>
                    <input type="submit" value="チャットルーム作成" />
                </div>
            </form>
          </div>
        </main>
        <footer>
            <div class="footer-block">
                <small>Copy Rights &copy Reserved</small>
            </div>
        </footer>

        <script src="lib/ChatRoomFunction.js"></script>
        <script src="lib/PageMemberFunction.js"></script>
        <script src="lib/PageLoading.js"></script>
    </body>
</html>