<!doctype html>
<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta name="robots" content="none,noindex,nofollow">
        <link rel="stylesheet" href="css/headerStyle.css" />
        <link rel="stylesheet" href="css/style.css" />
        <link rel="stylesheet" href="css/chatRoomStyle.css" />
        <script type="text/javascript" src="lib/jquery-1.10.1.min.js"></script>
        <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
         <script src="lib/Three/three.js"></script>
         <script src="lib/slick/slick.js"></script>
        <script src="lib/class/ChatRoomCreater.js"></script>
        <script src="lib/class/ChatRoom.js"></script>
        <script src="lib/class/ChatData.js"></script>
       
        <title>CGSharingCite(HOME)</title>
    </head>
    <body id="wrapper">

        <div id="members-block" style="display:none;" >
            <div id="members-headerList"></div>
            <table id="members-table" border="1" width="450px">
                <caption><b>チャットルームメンバー</b></caption>
                <tr>
                    <th>ナンバー</th>
                    <th>ネーム</th>
                </tr>
            </table>
        </div>

        <header id="header-list">
            <div class="logo"><a href="index.ejs"><img id="home_logo" src="images/sample_logo001.png" title="メインロゴ" alt="LOGO" /></a></div>
            <div class="header-selection">
                <nav class="selection-list">
                    <ul id="navSelection">
                        <li name="select-search" onclick="changePage('watchPage.ejs')">捜索</li>
                        <li name="select-upload" onclick="changePage('workUploadPage.ejs');">作品投稿</li>
                    </ul>
                </nav>
            </div>
            <div class="user-selection">
                <!--
                 <button class="guest-button" onclick="javascript:window.location.href='rogin.ejs'">ログイン</button>
                <button class="guest-button" onclick="javascript:window.location.href='newMemAdded.ejs'">新規会員登録</button>
                -->    
                <button class="member-button" onclick="rogout()" style="display:none;">ログアウト</button>
                  <div id="user-icon">
                    <img src="" alt="UserIcon" id="user-image" />
                    <span id="user-name">ED0401</span>
                </div>
            </div>

            <button id="small-area-button" class="hide">-<br>-<br>-<br></button>
            <div id="small-area">   
                    <nav id="selection-list">
                        <ul id="small-navSelection">
                            <li name="small-select-userArea">
                                <div class="member-button" onclick="rogout()" style="display:none;">ログアウト</div>
                                <div class="guest-button" onclick="javascript:window.location.href='rogin.ejs'">ログイン</div>
                                <div class="guest-button" onclick="javascript:window.location.href='newMemAdded.ejs'">新規会員登録</div>
                            </li>
                            <li name="select-search" onclick="changePage('watchPage.ejs')">捜索</li>
                           <li name="select-upload" onclick="changePage('workUploadPage.ejs');" style="display:none;">作品投稿</li>
                        </ul>
                    </nav>
            </div>
        </header>
        <main>
            <div id="breadCrumbNav">
                <ul id="breadNavList">
                    <li onclick="changePage('index.ejs')">ホーム</li><span>&raquo</span>
                    <li>チャットルーム</li>
                </ul>
            </div>

            <article class="chat-article">
                <div class="chat-header">
                    <div class="chat-buttonGroup">
                        <button onmouseover="this.style.cursor='pointer'" onclick="">button1</button>
                        <button onmouseover="this.style.cursor='pointer'" onclick="">button2</button>
                    </div>
                    <div class="chatroom-memberListButton">
                        <button onmouseover="this.style.cursor='pointer'" name="memeberList" onclick="displayMemberList();">会員リスト</button>
                    </div>
                </div>
                 <div id="chat-main">
                    <div id="chat-content">
                        <div id="chat-display">
                            

                        </div>

                       <form id="main-form" name = "chatForm"> 
                            <div class="chat-inputArea">
                                <textarea id="input-chatArea" name="chat-area" rows="10" cols="80"></textarea>
                            </div>
                            <div>
                                <input class="chat-submitButton" name="main-formButton" type="submit" value="送信" />
                            </div>
                        </form>
                    </div>
                    
                    <div>

                    </div>
                </div>
            </article>
        </main>

        <footer>
            <div class="footer-block">
                <small>Copy Rights &copy Reserved</small>
            </div>
        </footer>


        <script src="lib/ChatRoomFunction.js"></script>
        <script src="lib/PageMemberFunction.js"></script>
        <script src="lib/PageLoading.js"></script>
    </body>
</html>