<!doctype html>
<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <link rel="stylesheet" href="css/style.css" />
        <script type="text/javascript" src="lib/jquery-1.10.1.min.js"></script>
        <script src="lib/ChatData.js"></script>
        <script src="lib/excelTest.js"></script>
        <script src="lib/PageMemberFunction.js"></script>
        <script src="lib/PageLoading.js"></script>
        <title>閲覧ページ</title>
    </head>
    <body id="wrapper">
        <header id="header-list">
            <div class="logo"><a href="index.ejs"><img id="home_logo" src="images/sample_logo001.png" alt="LOGO" title="メインロゴ" /></a></div>
            <div class="header-selection">
                <nav class="selection-list">
                    <ul id="navSelection">
                        <li name="select-read" onclick="alert('閲覧');changePage('referPage.ejs')">閲覧</li>
                        <li name="select-search" onclick="alert('捜索');changePage('watchPage.ejs')">捜索</li>
                        <li name="select-upload" onclick="changePage('workUploadPage.ejs');" style="display:none;">作品投稿</li>
                    </ul>
                </nav>
            </div>
            <div class="user-selection">
                
                <button class="guest-button" onclick="javascript:window.location.href='rogin.ejs'">ログイン</button>
                <button class="guest-button" onclick="javascript:window.location.href='newMemAdded.ejs'">新規会員登録</button>
                 <div id="user-icon">
                    <img src="" alt="UserIcon" id="user-image" />
                    <span id="user-name">ED0401</span>
                </div>

                 <button class="member-button" onclick="" style="display:none;">ログアウト</button>
            </div>
        </header>
        <main>
            <article class="read-article">
                <div><h1>ReferPage</h1></div>
                <div id="read-articleBody">
                    <div class="work-readLeft">
                            <div class="refer-image">
                                <img src="images/textureMap_sample001.jpg" alt="refer" />
                            </div>
                    </div>
                    <div class="work-readRight">
                            <div class="refer-explain">
                                <ul class="work-infoList">
                                    <li id="work-infoActorName">
                                        <p>作者名</p>
                                        <p>Edison</p>
                                    </li>
                                    
                                    <li id="work-fileType">
                                        <p>ファイルタイプ</p>
                                        <p></p>
                                    </li>

                                    <li id="work-name">
                                        <p>作品名</p>
                                        <p>Edison</p>
                                    </li>

                                    <li id="work-explanation">
                                        <p>作品概要</p>
                                        <p>ed is strategic man for starcraft</p>
                                    </li>
                                </ul>
                            </div>
                    </div>
                </div>
                 <div class="actor-selectedButton">
                    <button name="actor-selectedButton" onclick="alert('作者へのチャットルーム作成');">作者へコンタクト</button>
                </div>
            </article>
           
            <div id="comment-area">
                <div class="comment-block">

                </div>
            </div>
        </main>
        <footer>
            <div class="footer-block">
                <div class="footer-info"></div>
                <small>Copy Rights &copy Reserved</small>
            </div>
        </footer>
    </body>
</html>