<!doctype html>
<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <link rel="stylesheet" href="css/style.css" />
        <script type="text/javascript" src="lib/jquery-1.10.1.min.js"></script>
         <script src="lib/Three/three.js"></script>
         <script src="lib/slick/slick.js"></script>
        <script src="lib/ChatData.js"></script>
        <script src="lib/Member.js"></script>
        <script src="lib/excelTest.js"></script>
        <script src="lib/PageMemberFunction.js"></script>
        <script src="lib/PageLoading.js"></script>
        <title>登録・ログイン成功画面</title>
    </head>
    <body id="wrapper" onload="changePageByTime('index.ejs','<%= lastCount * 1000 %>')">
        <header id="header-list">
            <div class="logo"><a href="index.ejs"><img id="home_logo" src="images/sample_logo001.png" alt="LOGO" title="メインロゴ" /></a></div>
            <div class="header-selection">
                <nav class="selection-list">
                    <ul id="navSelection">
                        <li name="select-read" onclick="alert('閲覧');changePage('referPage.ejs')">閲覧</li>
                        <li name="select-search" onclick="alert('捜索');changePage('watchPage.ejs')">捜索</li>
                         <li name="select-upload" onclick="changePage('workUploadPage.ejs');" style="display:none;">作品投稿</li>
                    </ul>
                </nav>
            </div>
            <div class="user-selection">
                <!--
                <button class="guest-button" onclick="javascript:window.location.href='rogin.html'">ログイン</button>
                <button class="guest-button" onclick="javascript:window.location.href='newMemAdded.html'">新規会員登録</button>
            -->
            <div id="user-login" style="display:none;"><p>ED0401</p></div>
            </div>
        </header>
        <main>
            <div id="successMsg">
                <p style="font-size:18px;"><%= lastCount %>秒後ページ移動します</p>
                <h1>成功</h1>
            </div>
        </main>
        <footer>
            <div>
                <small>Copy Rights &copy Reserved</small>
            </div>
        </footer>
    </body>
</html>