<!doctype html>
<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta name="robots" content="none,noindex,nofollow">
        <link rel="stylesheet" href="css/style.css" />
        <link rel="stylesheet" href="css/Modal.css" />
        <link rel="stylesheet" href="css/sliderStyle.css" />
        <script type="text/javascript" src="lib/jquery-1.10.1.min.js"></script>
         <script src="lib/Three/three.js"></script>
         <script src="lib/slick/slick.js"></script>
        <script src="lib/ChatData.js"></script>
        <script src="lib/excelTest.js"></script>
        <script src="src/Member.js"></script>
        <script src="lib/PageMemberFunction.js"></script>
        <script src="lib/PageLoading.js"></script>
        <title>CGSharingCite(HOME)</title>
    </head>
    <body id="wrapper">

        <header id="header-list">
            <div class="logo"><a href="index.ejs"><img id="home_logo" src="images/sample_logo001.png" alt="LOGO" title="メインロゴ" /></a></div>
            <div class="header-selection">
                <nav class="selection-list">
                    <ul id="navSelection">
                        <li name="select-search" onclick="changePage('watchPage.ejs')">捜索</li>
                        <li name="select-upload" onclick="changePage('workUploadPage.ejs');">作品投稿</li>
                    </ul>
                </nav>
            </div>
            
            <div class="user-selection">
                <button class="guest-button" onclick="javascript:window.location.href='rogin.ejs'">ログイン</button>
                <button class="guest-button" onclick="javascript:window.location.href='newMemAdded.ejs'">新規会員登録</button>
                 <div id="user-icon">
                    <img src="" alt="UserIcon" id="user-image" />
                    <span id="user-name">ED0401</span>
                </div>
                <button class="member-button" onclick="" style="display:none;">ログアウト</button>
            </div>
        </header>
        <main>

            <div id="breadCrumbNav">
                <ul id="breadNavList">
                    <li onclick="changePage('index.ejs')">ホーム</li><span>&raquo</span>
                    <li>ユーザー情報</li>
                </ul>
            </div>

            <section id="user-property">
                <div class="user-pblock">ユーザーネーム : </div>
                <div class="user-pblock">パスワード : </div>
                <div class="user-pblock">Email : </div>
            </section>

        </main>
        <footer>
            <div class="footer-block">
                <small>Copy Rights &copy Reserved</small>
            </div>
        </footer>
    </body>
</html>