body{
    background-image:url("../images/natual_scene01.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-color:#fff;
    background-position:60% 50%;
    background-attachment: fixed;
    margin:0;
    padding:0;
}

*{
    box-sizing:border-box;
}

#breadCrumbNav{
    width:100%;
    padding-top:45px;
    background-color:rgba(30,120,30,0.5);
    border-bottom:3px solid #5A5;
}

#breadNavList{
    list-style-type: none;
    display:flex;
    flex-direction:row;
    justify-content:center;
}

#breadNavList span{
    color:#3F3;
    font-size:18px;
}

#breadNavList li{
    color:#3F3;
    margin:3px 15px;
    font-size:12px;
}

#breadNavList li:hover{
    color:#aDa;
}
/*
#testBlock{
    position:fixed;
    height:50px;
    background-color:#fff;
    z-index:2;
    left:75%;
}*/

#workDiscription{
    position:absolute;
    text-align:center;
    left:25%;
    bottom:10%;

}


#threeScene{
    position:fixed;
    left:35%;
}

#returnTop{
    color:#fff;
    text-align:center;
    width:50px;
    height:50px;

    font-size:26px;

    background-color:#000;
    position:fixed;
    top:95%;
    left:95%;

    cursor:pointer;
}

#wrapper{
    min-width:100%;
    min-height:100%;
    padding:0;
    margin:0 auto;
}

#header-list{
    position:absolute;
    width:100%;
    display:flex;
    justify-content: space-between;
    background-color: #12551d;
    padding:0;
    
    z-index:2;
}

img#home_logo{
    position:absolute;
    left:0;
    top:0;
    width:100px;
    height:100px;
}

.header-selection{
    width:70%;
}

.selection-list ul{
    list-style:none;
    display:flex;
    justify-content:space-around;
    
}

.selection-list ul li{
    text-align:center;
    color:#fff;
    font-size:20px;
    font-weight:bold;
    transition:0.5s;
}

.selection-list ul li:hover{
    color:#aaa;
    cursor:pointer;
}
#user-icon{
    color:#fff;
    font-weight:bold;
}

#user-image{
    width:20px;
    height:20px;
    border-radius:50%;
    background-color:#fff;
    padding:3px;
}

.user-selection{
    margin-top:auto;
    margin-bottom:auto;
    font-size:16px;
}

.user-selection button.guest-button,button.member-button{
    border-width:0;
    margin:0 10px;
    background-color:#000;
    color:#fff;
    border-radius:5px;
    font-size:18px;
    font-weight:bold;
}

.user-selection button.guest-button:hover,button.member-button:hover{
    background-color:#fff;
    color:#000;
}


main{
    width:100%;
    background-color:rgba(0,0,0,0.3);
    margin:0 auto;

    min-height:1000px;
    display:flex;
    justify-content:center;
    flex-direction:column; 
}

div#top-main{
    width:100%;
}

.worker-slider{
    margin-bottom:50px;
}


main div.work-list{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
}


main .work-read{
    text-align:center;
    height:auto;
    padding-bottom:30px;
    background-color:rgba(125,255,125,0.5);
    margin-bottom:75px;
}

main .work-display{
    display:block;
    text-align:center;
    padding:0 0 30px 0;
    height:auto;
    background-color:rgba(100,255,100,0.5);
    margin-bottom:75px;
}

.work-display .work-image{
    overflow:hidden;
}

.work-item{
    margin-left:30px;
    margin-right:30px;
    margin-bottom:15px;
} 

main .work-item p{
    color:#fff;
    font-size:16px;
    font-weight:bold;
}

.work-read .work-expand{
    background-color:#666;
    border:1px solid #aaa;
    margin:auto;
    width:5%;
    display:flex;
    justify-content:center;

    transition:background-color .5s,border 1s;
}

.work-expand:hover{
    background-color:#fff;
    border-color:rgb(33, 68, 33);
    border-width:3px;
}

.work-read .work-expand div{
    width:10px;
    height:10px;
    margin:10px 2px;
    background-color:rgb(30,30,30);
    border-color:#fff;
    border-width:1px;
    border-radius:50%;
}

.number-list{
    display:inline-block;
    padding:0;
    margin:15px auto 0 auto;
    text-align:center;
}

.number-list .circle-number{
    width:20px;
    height:20px;
    background-color:#fff;
    border-radius:50%;
    margin:0 5px;

    cursor:pointer;
    transition:.5s;
}

.number-list .circle-number.selected{
    border:1px solid #000;
}

.number-list .circle-number.selected:hover{
    border-color:#fff;
}

.number-list .circle-number:hover{
    background-color:#555;
    color:#fff;
}

main #other-info-block{
    background-color:#afa;
    width:100%;
    color: #181;
}


footer{
    color:#fff;
    width:100%;
    min-height:200px;

    display:flex;
    justify-content:center;
    align-items:flex-end;
    position:relative;
    bottom:0;
    background-color: #12551d;
}


/*new member added page*/

.form-block{
    background-color:rgba(100,220,50,0.5);
    width:40%;
    color:#fff;
    display:flex;
    justify-content:center;
    flex-direction:column;
    padding:75px;
    margin:100px auto;

    border:3px solid rgba(30,220,30,1);
    box-shadow:0 0 10px 2px rgba(20,150,20,1);
}

.form-block h2{
    font-size:24px;
    text-align:center;
}

.form-block table{
    table-layout:auto;
}


.form-block td{
    padding:5px 10px;
}

#main-form table{
    border-collapse:separate;
    border-spacing:5px 10px;
}



/*watch page*/

table.watch-table div.work-image{
    position:relative;
    width:350px;
    height:250px;
    border:10px double #383;
    box-shadow:0 0 10px 5px #fff;
     overflow:hidden;
}

table.watch-table div.work-image img{
    width:500px;
    height:350px;
   position:absolute;
   left:-30%;
   top:-20%;
}

.watch-block h3{
    font-size:24px;
}

.watch-block figcaption{
    border:3px solid #000;
    background-color:rgba(50,180,55,0.8);
    width:70%;
    height:30px;
    margin:10px auto;
}

div.watch-main{
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.main-search{
    margin:10px auto;
}

#search-filter{
    padding:5px 10px;
    margin-top:5px;
    margin-bottom:5px;
    background-color:#585;
    border:1px solid #040;
    color:#fff;
}

table.watch-table figcaption{
    color:#fff;
    text-align:center;
}

div.work-list{
    display:flex;
    flex-direction:row;
}

div.work-item{
    display:inline-block;
    border:5px solid #fff;
    width:250px;
    height:225px;
}

div.work-image{
    width:100%;
    height:100%;
}

div.work-item img{
    width:100%;
    height:100%;
}

div.watch-article img{
    width:250px;
    height:250px;
}

div.circle{
    background-color:#fff;
    border-radius:15px;
    width:20px;
    height:20px;
}

/*refer page*/
.read-article{
    margin:auto;
    background-color:rgb(150,225,150,0.5);
    width:70%;
    display:flex;
    flex-direction:column;
    align-items:center;
}

div#read-articleBody{
    display:flex;
    width:100%;
    height:100%;
    justify-content:space-around;
}

.read-article div{
    margin-top:20px;
    color:#fff;
}

.read-article div.work-readLeft{ 
    background-color: #fff;
    width:60%;
}

div.work-readLeft .refer-image{
    margin:0;
    width:100%;
    height:100%;
}

div.work-readLeft img{
    width:100%;
    height:100%;
}

.read-article div.work-readRight{
    background-color:#faf;
    width:30%;
}

div.work-readRight ul.work-infoList{
    text-align:center;
    list-style-type:none;
    display:flex;
    flex-direction:column; 
    align-items:center;   
}

div.work-readRight ul.work-infoList li{
    margin:0 auto;
}

div.work-readRight ul.work-infoList li p:nth-child(0){
    font-weight:bold;
}

.actor-selectedButton{
    margin-bottom:20px;
}
.actor-selectedButton button{
    font-weight:bold;
    border-width:0;
}



/*rogin page*/

form#main-form button#roginbutton{
    border-width:0;
}

form#main-form div#rogin-block{
    border-width:0;
}

form#main-form{
    position:relative;
    margin:auto;
    padding:0;
}

form#main-form div.chat-submitButton{
    float:right;
    margin-bottom:50px;
}

form#main-form .chat-submitButton 
input[type='submit']{
    width:80px;
    height:30px;
    border-width:0;

    transition:0.5s;
}

form#main-form .chat-submitButton 
input[type='submit']:hover{
    background-color:#aaa;
}

/*chatroomCreatorPage*/

div.form-inputBlock{
     margin-bottom:10px;   
    
}

/*workUploadPage*/


.watch-block img{
    border:5px solid #fff;
}

.watch-block h3{
    color:#fff;
    text-align:center;
}


#work-uploadTypeBlock{
    display:flex;
    justify-content:center;
}

#work-uploadCount{
    display:flex;
    justify-content:center;
}

/*success page*/

#successMsg{
    background-color:rgba(31, 221, 72, 0.534);
    border:5px double #080;
    color:#fff;
    font-weight:bold;
    padding:30px;
    text-align:center;
    margin:5px auto 5px auto;
}


/*user Property*/

#user-property{
    background-color:rgba(100,255,100,0.5);
    width:30%;
    height:500px;
    color:#fff;
    margin:auto;
    padding:15px;
}
